@import "tailwindcss";

@theme {
  --color-brand: #4F46E5;
  --color-brand-green: #10B981;
  --font-sans: 'Inter', 'Outfit', sans-serif;
}

body {
  background-color: #f9fafb; /* bg-gray-50 */
  color: #1f2937; /* text-gray-800 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
